<a href="https://colab.research.google.com/github/SantoshMahara/PythonPractise_Questions/blob/main/Question_Answer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install PyPDF2

Collecting PyPDF2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.6/232.6 kB 5.3 MB/s eta 0:00:00
Installing collected packages: PyPDF2
Successfully installed PyPDF2-3.0.1

In [2]:
import PyPDF2
import pandas as pd

In [3]:
pdfFileObj = open('/content/sample_data/140_Basic_Python_Programs_1704340252.pdf', 'rb')
pdfReader = PyPDF2.PdfReader(pdfFileObj)

In [4]:
print(len(pdfReader.pages))

96

In [11]:
pageObj = pdfReader.pages[1]

In [12]:
print(pageObj.extract_text())

11/26/23, 4:53 AM Basic Python Program - Jupyter Notebook
localhost:8888/notebooks/Piush Kumar Sharma/Basic Python Program.ipynb 1/95Program 1
Write a Python program to print "Hello Python".
In [1]:
Program 2
Write a Python program to do arithmetical operations addition and division.
In [2]:
In [3]:
Program 3
Write a Python program to find the area of a triangle.
In [4]:Hello Python
Enter the first number for addition: 5
Enter the second number for addition: 6
sum: 5.0 + 6.0 = 11.0
Enter the dividend for division: 25
Enter the divisor for division: 5
Division: 25.0 / 5.0 = 5.0
Enter the length of the base of the triangle: 10
Enter the height of the triangle: 15
The area of the triangle is: 75.0print("Hello Python" )
# Addition
num1 = float(input("Enter the first number for addition: " ))
num2 = float(input("Enter the second number for addition: " ))
sum_result  = num1 + num2
print(f"sum: {num1} + {num2} = {sum_result }")
# Division
num3 = float(input("Enter the dividend for division: " ))
num4 = float(input("Enter the divisor for division: " ))
if num4 == 0:
    print("Error: Division by zero is not allowed." )
else:
    div_result  = num3 / num4
    print(f"Division: {num3} / {num4} = {div_result }")
# Input the base and height from the user
base = float(input("Enter the length of the base of the triangle: " ))
height = float(input("Enter the height of the triangle: " ))
# Calculate the area of the triangle
area = 0.5 * base * height
# Display the result
print(f"The area of the triangle is: {area}")1
1
2
3
4
5
1
2
3
4
5
6
7
8
1
2
3
4
5
6
7

**Write a Python program to swap two variables.**

In [21]:
x=5
y=10
x,y=y,x
print("Find the Values of X=",x)
print("Find the Values of Y=",y)

Find the Values of X= 10
Find the Values of Y= 5

**Write a Python program to swap two variables. whithout taking any other variable**

In [22]:
a = input("Enter the value of the first variable (a): ")
b = input("Enter the value of the second variable (b): ")

print(f"Original values: a = {a}, b = {b}")

temp = a
a = b
b = temp

print(f"Swapped values: a = {a}, b = {b}")

Enter the value of the first variable (a): 10
Enter the value of the second variable (b): 5
Original values: a = 10, b = 5
Swapped values: a = 5, b = 10

**Write a Python program to generate a random number. stating from 20 till 100(excluded)**

In [28]:
import random
x= random.randint(20,100)
if x>=20:
  print(random.randint(1,19))
else:
  print(random.randint(25,90))

16

**Write a Python program to generate 25  random number. stating from 20 till 100(excluded)**

In [29]:
print(random.sample(range(20, 100), 25))

[48, 73, 69, 71, 92, 35, 68, 72, 29, 67, 32, 62, 70, 52, 81, 76, 85, 22, 31, 40, 94, 30, 90, 43, 89]

In [51]:
rand=[]
for i in random.sample(range(20,100),25):
  if rand.count(i) < 25:
    rand.append(i)
print(rand, end=" ")

[75, 90, 28, 82, 73, 31, 40, 47, 93, 41, 95, 43, 39, 67, 81, 72, 60, 97, 44, 24, 65, 59, 87, 36, 91]

In [53]:
a=[]
for i in range(25):
  if a.count(i) < 26:
    a.append(i)
print(a, end=" ")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [54]:
for _ in range(24):
  print(random.randint(21,99), end=' ')

95 36 35 95 93 37 22 59 95 27 56 49 64 31 70 79 21 37 98 46 28 33 59 58

In [57]:
for i in range(20, 100):
     y = random.randrange(9)
     print(y, end=" ")

6 2 3 8 0 8 8 4 6 5 6 2 0 7 0 3 8 0 7 3 7 8 2 3 1 5 7 1 8 5 6 7 0 5 8 3 7 5 4 0 4 5 5 6 1 1 2 2 7 0 7 3 7 7 7 2 4 2 5 1 2 4 0 8 3 5 7 1 8 4 6 5 1 6 1 0 3 4 7 8

In [59]:
rand = [random.randint(0, 100) for x in range(1, 25)]
print(rand)

[4, 28, 80, 73, 29, 17, 3, 61, 40, 33, 95, 29, 15, 17, 41, 42, 50, 100, 11, 100, 16, 18, 78, 7]

In [61]:
print( [random.randint(21, 99) for x in range(1, 26)])

[78, 84, 41, 97, 78, 69, 54, 66, 75, 33, 41, 31, 50, 26, 28, 93, 71, 70, 84, 59, 70, 74, 67, 69, 28]

**Write a Python program to find the hypotenuse of a triangle with side 15 and height 21**

In [62]:
import math

In [67]:
s=15
h=21
hypo=math.sqrt(s**2 + h**2)
print(hypo)

25.80697580112788

**Write a Python program to convert kilometers to miles.**

In [75]:
# Conversion factor: 1 kilometer = 0.621371 miles
# Taking kilometers input from the user
Kilomt = float(input("Enter Distance Value in kilometers: "))
con_fact=0.621371
miles = Kilomt * con_fact
print((Kilomt, miles))

Enter Distance Value in kilometers: 20.2
(20.2, 12.5516942)

**Write a Python program to convert Fahrenheit to Celsius. **

Conversion formula: Fahrenheit = (Celsius * 9/5) + 32

In [78]:
Celsius=float(input('Enter Celsius to convert fohrenheit :'))
#Celsius = 0.621371
print(f'Temprature in Fahrenheit:{(Celsius * 9/5) + 32}')

Enter Celsius to convert fohrenheit :37
Temprature in Fahrenheit:98.6

In [80]:
x=  float(input('Enter temperature in Fahrenheit :'))
print(f'Temperature in celsius : {(x-32)*(5/9)}')

Enter temperature in Fahrenheit :98.6
Temperature in celsius : 37.0